option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 22.x
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
    PORT: 8081
  aws:elasticbeanstalk:environment:process:default:
    Port: 8081
    HealthCheckPath: /health
    MatcherHTTPCode: 200
