option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NPM_USE_PRODUCTION: "false"
    PORT: "8081"
    COMMAND: "npm start"
  aws:elasticbeanstalk:environment:process:default:
    Port: "8081"
    HealthCheckPath: "/health"
    MatcherHTTPCode: "200"
